{
  "extends": "airbnb",
  "env": {
  "node": true,
  "es6": true,
  "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "object-curly-newline": 0,
    "react/jsx-props-no-spreading": 0,
  }
 }